extends layout

block content
  -var getDateTimeString = function(dateString) {
    -  console.info(dateString);
    -  var date = moment(dateString, 'dddd HH:mm:ss z');
    -  
    -  return date.format('dddd') + ' at ' + date.format('HH:mm');
  -}

  if live
    h1 Yes! :D (probably) #{name} is on! It started on #{getDateTimeString(startTime)} #{timeZone}.  Watch it below:
    #player
  else
    h1 No :(
    h2 But don't worry, the next show is #{name}.  It starts on #{getDateTimeString(startTime)} #{timeZone}, which is #[span(id='localTime')] local time
    h2 #[div(id='daysContainer' class='counter') #[span(id='days')] #[span(class='counterLabel') d]]
      #[div(class='counter') #[span(id='hours')] #[span(class='counterLabel') hr]]
      #[div(class='counter') #[span(id='minutes')] #[span(class='counterLabel') min]]
      #[div(class='counter') #[span(id='seconds')] #[span(class='counterLabel') sec]]
    .background
  
  h2 Check out the #[a(href='http://twitch.tv/HyperRPG') twitch page] and #[a(href='http://twitter.com/Hyper_RPG') twitter]
        
  script.
    var showTime = '#{startTime}';
    var currentTime = '#{currentTime}';
    var offset = '#{offset}';
    
  script(src='js/index.js')
  script(src='http://player.twitch.tv/js/embed/v1.js')
