extends layout

block content
  .background
  if live
    h1 Yes! (probably) Go #[a(href='http://twitch.tv/HyperRPG') watch] it! #{name} is on! It started at #{startTime}
  else
    h1 No :(  The next show is #{name}.  It starts: #{startTime}, or in #[span(id='days')] #[span(id='hours')] hours #[span(id='minutes')] minutes #[span(id='seconds')] seconds
      
  script.
    var showTime = '#{startTime}';
    var currentTime = '#{currentTime}';
    
  script(src='js/index.js')
