extends layout

block content
  -var getDateTimeString = function(dateString) {
    -  console.info(dateString);
    -  var date = moment(dateString, 'dddd HH:mm:ss z');
    -  
    -  return date.format('dddd') + ' at ' + date.format('HH:mm');
  -}

  if live
    h1 Yes! :D (probably) #{name} is on! It started on #{getDateTimeString(startTime)} #{timeZone}.  Watch it below:
    #player
  else
    h1 No :(
    h2 But don't worry, the next show is #{name}.  It starts on #{getDateTimeString(startTime)} #{timeZone}, which is #[span(id='localTime')] local time
    h2 #[div(id='daysContainer' class='counter') #[span(id='days')] #[span(class='counterLabel') d]]
      #[div(class='counter') #[span(id='hours')] #[span(class='counterLabel') hr]]
      #[div(class='counter') #[span(id='minutes')] #[span(class='counterLabel') min]]
      #[div(class='counter') #[span(id='seconds')] #[span(class='counterLabel') sec]]
    .background
  
  h3 Find Hyper RPG in all these lovely locations:
  ul.share-buttons
    li
      a(href='https://www.facebook.com/HyperRPG' title="Facebook" target="_blank")
        img(src='img/facebook.png')
    li
      a(href='https://twitter.com/Hyper_RPG' target='_blank' title='Twitter')
        img(src='img/twitter.png')
    li
      a(href='http://www.reddit.com/r/HyperRPG' target='_blank' title='Reddi')
        img(src='img/reddit.png')
    li
      a(href='http://twitch.tv/hyperrpg' target='_blank' title='Twitch')
        img(src='img/twitch.png' height='32' width='32')
  
  br
  br
  
  p.tiny This site is not owned, operated or endorsed by Hyper RPG.  Any comments/suggestions/questions hit the email button, or find me on twitter
  ul.share-buttons
    li
      a(href='https://twitter.com/cryogen' target='_blank' title='My Twitter')
        img(src='img/twitter.png')
      a(href='mailto:stu+probablyspam@ipng.org.uk' title='Contact the site owner')
        img(src='img/email.png')
  
  script.
    var showTime = '#{startTime}';
    var currentTime = '#{currentTime}';
    var offset = '#{offset}';
    
  script(src='js/index.js')
  script(src='http://player.twitch.tv/js/embed/v1.js')
